.company_blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company {
    padding: 70px 0;
    background-color: #101010;
}

.company_items {
    display: flex;
    align-items: center;
}

.company_item {
    margin: 0 20px;
}

.decline_allow {
    padding: 30px;
    border: 1px solid #363636;
    width: 40%;
}

.decline_allow_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.decline_allow_buttons {
    display: flex;
    margin-left: 15px;
}

.decline_allow_button {
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.decline_allow_button.decline {
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.decline_allow_button.decline:hover {
    border: 1px solid #101010;
    transition: all 0.3s ease;
}

.decline_allow_button.allow {
    margin-left: 15px;
    background-color: #00FFA3;
    border: 1px solid #00FFA3;
    transition: all 0.3s ease;
}

.decline_allow_button.allow:hover {
    background: none;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

@media (max-width: 1150px) {
    .company_blocks {
        flex-direction: column;
    }
    .decline_allow {
        margin-top: 60px;
        width: 70%;
    }
    .company_items {
        width: 90%;
        justify-content: space-between;
    }
}

@media (max-width: 975px) {
    .select_img img {
        display: none;
    }
    .select_text {
        text-align: center;
    }
}

@media (max-width: 730px) {
    .company_items {
        width: 100%;
        flex-wrap: wrap;
       justify-content: center;
    }
    .company_item {
        margin: 15px 30px;
    }
    .decline_allow {
        width: 95%;
    }
}

@media (max-width:  426px) {
    .decline_allow {
        margin: 30px;
        padding: 20px 15px 10px 15px;
    }
    .decline_allow_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .decline_allow_content p {
        text-align: center;
    }
    .decline_allow_buttons {
        margin: 15px;
    }
    .company {
        padding: 30px 0 20px 0;
    }
}
